################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SellVMDemo/bin
/packages
/.vs/SellVMDemo/v15
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/SellVMDemo/DesignTimeBuild
/.vs
/SellVMDemo/obj/Debug
