<script src="../../Scripts/jquery-1.10.2.min.js"></script>

<div>
	select VM region:
	<select id = "regionsSelecor" onchange="regionSelect()" onclick="getRegions()" >
		<option value="" disabled selected>Select your region</option>
	</select>	
</div>

<div>
	select VM size:
	<select id = "sizeSelecor" onchange="sizeSelect()" onclick="getSize()" >
		<option value="" disabled selected>Select your size</option>
	</select>	
	
</div>

<script src="../../Scripts/vmoptions.js"></script>

