<script src="../../Scripts/jquery-1.10.2.min.js"></script>
<link rel="stylesheet" type="text/css" href="../../Scripts/demo.css" />


<div class="body_main">
	<div>
		<span class="rowleft">select VM region:</span>
		<select id="regionsSelecor" onchange="regionSelect()" onclick="getRegions()" class="select_input4 ">
			<option value="" disabled selected>Select your region</option>
		</select>
	</div>
	</br>
	<div>
		<span class="rowleft">select VM size:</span>
		<select id="sizeSelecor" onchange="getSize()" class="select_input4 ">
			<option value="" disabled selected>Select your region </option>
		</select>
	</div>

	<div id="vmSizeInfo" hidden="hidden" class="vm_details">

		<p class="rowleft">Cores :<span id="cores" /></p>
		<p class="rowleft">Memory: <span id="memory" /></p>
		<p class="rowleft">Max disk count:<span id="maxdiskcount" /></p>

		<div id="diskList" class="diskList"></div>

		<p class="rowleft">Data disks you can add for your VM : <span id="dataDisksLeft" /></p>

		<button id="diskAdder" onclick="addDisks()" class="button_add">add a data disk</button>
	</div>


	<div id="osSelector">
		<span class="rowleft">select OS :</span>
		<select id="osType" onchange="getPopularOsImage()" class="select_input4 ">
			<option value="" disabled selected>Select OS type</option>
			<option value="windows">windows</option>
			<option value="linus">linux</option>
		</select>

		<select id="osImageSelector" class="select_input4">
			<option value="" disabled selected>Select OS type </option>
		</select>
	</div>

	<hr>

	<div id="pricingBoard" class="budget">
		<h2>Pricing forecast</h2>
		<p class="warning">It not stand for the time you want to keep this vm, just for consume reference</p> 
		<span class="rowleft"> how long you want to buy:</span>
		<select id="modeSelector" onchange="getType(this)" class="select_input4">
			<option value="" disabled selected>select type</option>
			<option value="1"> By month</option>
			<option value="2"> By year</option>
		</select>

		<select id="timeSelector" onchange="getPricing()" hidden="hidden" class="select_input4 valid">
			<option value="" disabled selected>select time</option>
			<option value='1'>1</option>
			<option value='2'>2</option>
			<option value='3'>3</option>
			<option value='4'>4</option>
			<option value='5'>5</option>
			<option value='6'>6</option>
			<option value='7'>7</option>
			<option value='8'>8</option>
			<option value='9'>9</option>
			<option value='10'>10</option>
			<option value='11'>11</option>
			<option value='12'>12</option>
		</select>
		<span id="timetext"></span>

		<p id="pricingInfo"> <span id="pricingNum" /></p>

	</div>

	<hr>

	<div id="checkOut">
		<button onclick="CheckAndPurchase(this)" class="button">purchase</button>
		<div id="result"></div>
	</div>

</div>

<script src="../../Scripts/vmoptions.js"></script>